.route-cell-box {
  display: flex;
  margin: auto;
}
.route-cell-box .route-short {
  flex: 1 1 auto;
  padding: 0 3px;
}
.route-cell-box .minute-short {
  font-weight: bold;
  flex: 1 1 auto;
  align-items: center;
  min-width: 75px;
}
.route-cell-box .minute-long {
  font-weight: bold;
}
/*# sourceMappingURL=RouteCell.css.map */