.route-cell-box {
  display: flex;
  margin: auto;

  .route-short {
    flex: 1 1 auto;
    padding: 0 3px;
  }

  .minute-short {
    font-weight: bold;
    flex: 1 1 auto;
    align-items: center;
    min-width: 75px;
  }

  .minute-long {
    font-weight: bold;
  }
}
