#app {
  display: flex;
  flex-direction: column;

  height: 90vh;
  width: auto;
  max-width: 500px;
  min-width: 300px;
  margin: 10px;
  min-height: 600px;

  .card-header {
    height: 6vh;
    align-items: center;     /* vertical */
    justify-content: center; /* horizontal */

    font-size: 20px;
    font-weight: bold;
    color: gray;
    border-bottom: gray 1px solid;
  }

  .card-content {
    height: 84vh;
    overflow: auto;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

