* {
  //UIWebView optimizations
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;                /* disable text select */
  -webkit-touch-callout: none;              /* disable callout, image save panel (popup) */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

body {
  margin: 30px;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-text-stroke: 3px black;

  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  //for mobile scroll
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
